.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  $index: 100;
  width: 100%;
  min-height: 100vh;
  z-index: $index;
  opacity: 0;
  visibility: hidden;

  @include transition(all .4s);

  &__content {
    width: 100%;
    padding: 10rem 15rem;
    background-color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    * {
      margin: 2rem 0;
    }

    @include respond(tab-land) {
      padding: 10rem 10rem;
      iframe {
        width: 95%;
      }
    }

    @include respond(phone) {
      padding: 10rem 3rem;
    }

    img {
      width: 70%;
      @include respond(tab-port) {
        width: 100%;
      }
    }

    h2 {
      font-size: 4.5rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right bottom, #4A1464, #0056BC);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 2px;

      & + p {
        font-size: 2rem;
        margin-top: 0;
      }
    }
  }

  @include element('close') {
    position: absolute;
    right: 6rem;
    top: 4rem;
    color: white;
    width: 5rem;
    height: 5rem;
    transform: translateY(-50%);
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transition: all .2s;
      width: 5rem;
      height: 2px;
      background-image: $primary-gradient;
      display: inline-block;
    }

    &::before {
      @include transform(rotate(135deg));
    }
    &::after {
      @include transform(rotate(-135deg));
    }
  }

}

[class*="popup active"] {
  opacity: 1;
  visibility: visible;
  overflow-x: hidden;
  overflow-y: auto;

  .popup__content {
    //opacity: 1;
  }

}

.modal-open {
  overflow: hidden;
}