.competences {
  padding: 10rem 0;
}

.section-competences {
  padding-top: 8rem;
}

.section-portfolio {
  padding: 10rem 0;
  background-color: $primary-gray-light;
}

.section-timeline {
  padding: 10rem 0;
}